*~
*.gmo
*.la
*.lo
*.swp
*.tar.*
.deps
.libs
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
configure
config.*
build-aux
intltool*
libtool
xfce4/*.desktop
xfce4/*.desktop.in
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
stamp-*
about-data.h
old
