Source: multiload-nandhp
Section: x11
Priority: optional
Maintainer: nandhp <nandhp@gmail.com>
Build-Depends: debhelper (>= 7), libgtop-dev (>= 2.11.92),
 xfce4-panel-dev (>= 4.6.0), lxpanel, libmenu-cache-dev
Homepage: https://github.com/nandhp/multiload-nandhp
Vcs-Browser: https://github.com/nandhp/multiload-nandhp
Vcs-Git: git://github.com/nandhp/multiload-nandhp.git

Package: multiload-nandhp-xfce4
Architecture: any
Essential: no
Depends: ${shlibs:Depends}, ${misc:Depends},
 multiload-nandhp-common (=${binary:Version})
Recommends: xfce4-panel
Enhances: xfce4-panel
Description: system load monitor for the Xfce panel
 A system load monitor that graphs processor, memory,
 and swap space use, plus network and disk activity.
 .
 It is a port of the GNOME multiload applet to the Xfce panel.

Package: multiload-nandhp-common
Architecture: all
Essential: no
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: xfce4-panel
Enhances: xfce4-panel
Description: system load monitor for the panel, common files
 A system load monitor that graphs processor, memory,
 and swap space use, plus network and disk activity.
 .
 It is a port of the GNOME multiload applet. This package contains
 files common to all ports of the panel.
